.vscode/
env/

__pycache__/
*.png
*.ply
*.npz
*.npy
*.pkl
code/outputs/
*.obj
*.ipynb
*.so
code/training_log
data
code/test_log
mocap_data_copy
pifuhd
lightweight-human-pose-estimation.pytorch
*.pth
ait_viewer_vis/imgui.ini
export